<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <% if (page.title) { %><%= page.title %> — <% } %>
        <%= site.data.global.site.title %>
        <% if (!page.title) { %>
        | <%= site.data.global.site.subtitle %> | <%= site.data.global.site.description %>
        <% } %>
    </title>
</head>
<body>
    
    <%- partial('_partials/header') %>

    <%- partial('_partials/navigation') %>

    <%- body %>

</body>
</html>